body{
    font-family: 'Fauna One', serif;
    color: white;
    padding: 1em;
    margin: 1em;
	background: #333;
}

a, a:hover{
	color: #9FF;
}

div{
	margin-bottom: 1em;
}

h1, h2, h3, p {
	text-shadow: 2px 3px 8px #333;
}

ul{
	list-style: none;
}

.wrapper{
	background: rgba(51, 51, 51, 0.26);
}